<!doctype html>
<html lang="it">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title>Meet Report</title>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Meet Report</h1>
                    <p>Questo strumento permette di ottenere la somma delle ore di presenza per ogni partecipante a una conferenza di Google Hangouts Meet. I dati necessari possono essere inseriti manualmente, oppure ottenuti in modo automatico
                    fornendo un calendario</p>
                    <p>I dati forniti vengono memorizzati in memoria volatile per il solo tempo necessario all'elaborazione.</p>
                    <p>NB <strong>non</strong> si fornisce alcun tipo di garanzia sulla qualità dell'output prodotto.</p>
                    <form  class="form" action="/meetReport/" method="POST" enctype="multipart/form-data">
                        <div class="form-group row border">
                            <h3 class="col-12">File di input</h3>
                            <div class="col-lg-6">
                                <label for="file" class="col-form-label" >File di log del meeting:</label>
                                <input type="file" class="form-control-file" id="file" name="file" required>
                                <small id="fileHelpBlock" class="form-text text-muted">
                                    Il file di log di Google Hangouts Meet (Formato .csv o .xls(x))
                                </small>
                            </div>
                            <div class="col-lg-6">
                                <label for="calFile" >File del calendario:</label>
                                <input type="file" class="form-control-file" id="calFile" name="calFile">
                                <small id="calFileHelpBlock" class="form-text text-muted">
                                    L'esportazione del calendario (Formato .ics)
                                </small>
                            </div>
                        </div>
                        <div class="form-group row border">
                            <h3 class="col-12">Informazioni sull'evento</h3>
                            <div class="col-lg-4">
                                <label for="meetingCode">Codice meeting:</label>
                                <input type="text" id="meetingCode" class="form-control" name="meetingCode" />
                            </div>
                            <div class="col-lg-4">
                                <label for="startTime">Data e ora inizio:</label>
                                <input type="text" id="startTime"  class="form-control" name="startTime"/>
                            </div>
                            <div class="col-lg-4">
                                <label for="endTime" >Data e ora fine:</label>
                                <input type="text" id="endTime"  class="form-control" name="endTime" />
                            </div>
                        </div>

                        <div class="form-group row border">
                            <h3 class="col-12">Impostazioni</h3>
                            <h4 class="col-12">Entrata</h4>
                            <div class="col-lg-4">
                                <label for="startStep">Passo arrotondamento entrata (s):</label>
                                <input type="text" id="startStep"  class="form-control" name="startStep" value="900" maxlength="6" required/>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="down" name="startRoundDir" class="form-check-input" value="down">Per difetto
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="up" name="startRoundDir" class="form-check-input" value="up">Per eccesso
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="round" name="startRoundDir" class="form-check-input" value="round" checked>Arrotondato
                                    </label>
                                </div>
                            </div>
                            <h4 class="col-12">Interruzioni</h4>
                            <div class="col-lg-4">
                                <label for="midThr">Soglia interruzioni (s):</label>
                                <input type="text" id="midThr"  class="form-control" name="midThr" value="300" maxlength="6" required />
                            </div>
                            <div class="col-lg-4">
                                <label for="midStep">Passo arrotondamento interruzioni (s):</label>
                                <input type="text" id="midStep"  class="form-control" name="midStep" value="900" maxlength="6" required/>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="down" name="midRoundDir" class="form-check-input" value="down" required>Per difetto
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="up" name="midRoundDir" class="form-check-input" value="up" required>Per eccesso
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="round" name="midRoundDir" class="form-check-input" value="round" checked required>Arrotondato
                                    </label>
                                </div>
                            </div>
                            <h4 class="col-12">Uscita</h4>
                            <div class="col-lg-4">
                                <label for="endStep">Passo arrotondamento uscita (s):</label>
                                <input type="text" id="midStep"  class="form-control" name="endStep" value="900" maxlength="6" required />
                            </div>
                            <div class="col-lg-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="down" name="endRoundDir" class="form-check-input" value="down">Per difetto
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="up" name="endRoundDir" class="form-check-input" value="up">Per eccesso
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="round" name="endRoundDir" class="form-check-input" value="round" checked>Arrotondato
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn-block btn-lg btn-primary">Elabora</button>
                    </form>
                </div>
            </div>
            <footer>
                <div class="footer-copyright text-center py-3">
                    <p>© 2020 Matteo Fortini, MIT License.<br>Code repository: <a href="https://github.com/mfortini/oreMeet">https://github.com/mfortini/oreMeet</a>
                </div>
            </footer>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script>
        function handleFile(e) {
            var files = e.target.files, f = files[0];
            var reader = new FileReader();
            reader.onload = function(e) {
                var data = new Uint8Array(e.target.result);
                var workbook = XLSX.read(data, {type: 'array'});

                /* DO SOMETHING WITH workbook HERE */
                sheet=workbook.Sheets[workbook.SheetNames[0]];

                meetingCode=sheet["D2"]
                console.log(meetingCode)
                $('#meetingCode').val(meetingCode.v);

                jsond=XLSX.utils.sheet_to_json(sheet);
                minDate = jsond[0]["Data"];
                maxDate = jsond[0]["Data"];
                for (var i = 0; i < jsond.length; i++) {
                    tmpDate=jsond[i]["Data"];
                    if (tmpDate<minDate) {
                        minDate=tmpDate;
                    }
                    if (tmpDate>maxDate) {
                        maxDate=tmpDate;
                    }
                }

                $("#startTime").val(minDate + " ??");
                $("#endTime").val(maxDate + " ??");
            };
            reader.readAsArrayBuffer(f);
        }


        function handleCalFile(e) {
            var files = e.target.files;

            if (files.length > 0) {
                $("#meetingCode").val("");
                $("#meetingCode").prop("disabled", true);

                $("#startTime").val("");
                $("#startTime").prop("disabled", true);

                $("#endTime").val("");
                $("#endTime").prop("disabled", true);
            } else {
                $("#startTime").prop("enabled", true);
            }
        }

	var xlf = $('#file');
	xlf.change(handleFile);

	var calf = $('#calFile');
	calf.change(handleCalFile);
    </script>
  </body>
</html>

